{% extends "index.html" %}

{% block content %}
<h2>Paciente</h2>
<form method="POST">
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>
    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required>
    <label for="motivo">Motivo:</label>
    <input type="text" id="motivo" name="motivo" required>
    <label for="Paciente">Paciente Id:</label>
    <input type="text" id="id_paciente" name="id_paciente" required>
    <button type="submit" name="agendar_cita">Agendar Cita</button>
</form>

{% if cita %}
    <p>Estado de la cita: {{ cita.estado }}</p>
{% endif %}
{% endblock %}